#home
  %h3.reason Tired or paying $250 for a marathon or $400 for a triathlon?
  %h3.solution We are too. Let's Race Together.

#races-container-row
  .races{"ng-controller" => "racesController"}
    .race-row
      .race{"ng-repeat" => "race in races"}
        %img.race-img{src: "/assets/race.jpg"}
        .name{"ng-bind" => "race.name"}
        .description{"ng-bind" => "race.description"}
        .date{"ng-bind" => "race.race_date"}

