%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a Let's Race Together
  %section.top-bar-section
    %ul.left
      %li
        %a Sign Up
      %li
        %a Sign In
    %ul.right
      %li.active
        %a Home
      %li
        %a About
      %li.has-dropdown
        %a Menu
        %ul.dropdown
          %li
            %a Sign Up
          %li
            %a Sign In
          %li
            %a Sign Out
          %li
            %a Profile
